function mod 2      // mod(N, D)

    push constant 0
    pop local 0      // Q postavimo na 0
    push argument 0
    pop local 1      // R na N

label LOOP 
    push local 1       // R
    push argument 1    // D
    lt /// R < D
    if-goto 
        push local 0   // Q
        push constant 1 
        add     // racunamo: Q + 1
        pop local 0    // Q postavimo na (Q + 1)
        push local 1      // R
        push argument 1   // D 
        sub       // racunamo: (R - D)
        pop local 1     // R postavimo na  (R - D)
        goto LOOP


label L
    push local 1
    return     // vratimo R